.div-form {
	width: 50%;
	max-width: 400px;
	min-width: 100px;
}

.div-product {
	max-width: 1700px;
	width: 100%;
	margin: 0 auto;
}

.product-item {
	width: 28%;
	height: 300px;
	display: inline-block;
	margin: 17px 2%;
	overflow: hidden;
}

.product-img {
	width: 100%;
	text-align: center;
}

.product-img img {
	height: 200px;
}

.product-details {
	margin-top: 25px;
	height: 15%;
	text-align: center;
}

a:visited {
	color: #00628B;
}

.div-product-details {
	max-width: 1700px;
	width: 100%;
	margin: 0 auto;
}

.product-detail-image {
	width:50%;
	height: auto;
	text-align: center;
	float: left;
}

.product-detail-image img {
	max-width: 550px;
	width:100%;
	height: auto;
}

.product-detail-description {
	width:48%;
	height: auto;
	float: right;
}


.product-edit {
	float: left;
	width: 50%;
}
.product-del {
	float: right;
	width: 50%;
}

h1, h2, h3 {
	color: #00628B;
}

.lead, .jumbotron {
	color: #00628B;
}

.div-form {
	color: #00628B;
}
